.image-gallery-wrapper{
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
}


.carousel-text{
    position: absolute;
    top: -3em;
    left: -3em;
    right: 0%;
    bottom: 0%;
    width: 310px;
    height: 310px;
    content: '';
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    margin-left: 20%;
    margin-top: 10%;
}